body{
    background-image: url('360_F_267470518_kIk2R9WDEkBcmHN1zrMTpDz8JuSzUqt5.jpg');
    background-size: cover;
    background-position: center}

.mapdiv{
    width:28%;
    margin: auto;
}

.mapdiv path {
    fill: #020615;
    stroke: #ffffff;
    stroke-width:4px;
    transition: fill 0.3s;
}

.mapdiv :hover {
    fill: #000000;
}

.weather-info-container {
    width: 40%; /* Adjust as needed */
    padding: 0 20px; /* Adjust as needed */
}

.weather-info {
    margin-bottom: 20px;
    border: 1px solid #000000;
    padding: 10px;
}

.weather-info h2 {
    margin-top: 0;
}

.heading{
    padding: 30px 100px;
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    font-family:"Mongolian Baiti";
}
